.skill{
    display: flex;
    align-items: center;
    font-family: 'Press Start 2D', sans-serif;
    font-size: 25px;
    color: #fff;
}

.skill .icon{
    margin-right: 25px;
    width: 95px;
}

.skill .rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill .title{
    margin-bottom: 5px;
}